/*  your css code here. If applicable */
body{
	font-size:20px;
}
.form{
	text-align:center;
}
input, button{
	height:40px;
	width:200px;
	background-color:white;
	margin-bottom:20px;
	padding-left:5px;
	font-size:20px;
}
button{
	border-radius:5px;
	height:50px;
}
input[placeholder]{
	opacity:0.7;
}